



* {
    box-sizing: border-box;
}
/* centers the text class*/
.center-text{
    text-align: center;
    vertical-align: center;
}
/* makes the backround dark with a light font*/
.dark-background{
    background-color: black;
    color: blanchedalmond;
}
/* makes the background light with dark text*/
.light-background{
    background-color: lightslategrey;
    color: black;
}

p, h1, h2, h3, li, ol, ul {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main p {
    font-size: 20px;
}
main h2 {
    color: darkblue;
}

footer{
    vertical-align: middle;
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-top: 50px;
}

ul, ol {
    text-align: center;
    list-style-position: inside;
}

h3 {
    font-size: 30px;
    color: rgb(15, 57, 65);
}

header h1 {
    color: royalblue;
}

.center-vert {
    text-align: center;
    vertical-align: middle;
}

header {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

footer p{
    vertical-align: middle;
}

hr{
    width: 80%;
    border-top: 2px solid white;
}

img {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

a:link {
    color: burlywood;
}

a:visited {
    color: blue;
}

a:hover {
    color: green;
}

a:active {
    color: indigo;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}