






* {
    box-sizing: border-box;
}

.center-text{
    text-align: center;
    vertical-align: center;
}

.dark-background{
    background-color: black;
    color: blanchedalmond;
}

.light-background{
    background-color: lightslategrey;
    color: black;
}

p, h1, h2, h3, li, ol, ul {
    text-align: center;
}

main p {
    size: 16px;
}
main h2 {
    color: darkblue;
}

footer{
    height: 250px;
}

br{
    background-color: black;
}

ul, ol {
    position: absolute;
}